# Telegram Bot Token (получить у @BotFather)
TELEGRAM_BOT_TOKEN=8275120123:AAEDuaBvE01-WkRLWP5nLjSdc7fMjJ3vl-k

# URL вашего web-приложения 
WEBAPP_URL=https://www.apple.com/

# Порт для webhook (опционально)
PORT=3000

# Режим разработки
NODE_ENV=development
